*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:rgb(190, 91, 91)
}

.nh{
    padding: 20px;
}

body{
    background: url('./img/dices-over-newspaper-2656028_640F2.jpg') ;
    background-position: top center;
}
section{
    padding: 30px;
    line-height: 2;
}